/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

\.DS_Store

public/jsmedic/\.idea/jsmedic\.iml

public/jsmedic/\.idea/misc\.xml

public/jsmedic/\.idea/modules\.xml

public/jsmedic/\.idea/vcs\.xml

public/jsmedic/\.idea/workspace\.xml
